body {
	font-family: helvetica;
}

#container {
	width: 95%;
	max-width: 1000px;
	margin: auto;
}

#logo {
	width: 26.367%; /* 270 / 1024 */
	float: left;
}

#logo img {
	width: 100%;
}

nav {
	width: 50%; /* 512 / 1024 */
	float: right;
	background-color: rgba(158, 158, 158, 0.4);
	margin-top: 75px;
}

nav li {
	display: inline-block;
	margin: 10px 1%;
	font-size: 19px;
	text-transform: uppercase;
}

header img {
	width: 100%;
	margin: 5px 0px;
}

ul#cols li {
	width: 20%;
	padding: 1%;
	margin: 0px 1.25%;
	display: inline-block;
	background-color: #ffdf7f;
}

ul#cols li img {
	width: 100%;
}

ul#cols li h2 {
	font-size: 16px;
	font-weight: bold;

	text-align: center;
	text-transform: uppercase;
	margin: 5px 0px;
}

footer {
	background-color: skyblue;
	margin: 10px 2px;
	overflow: auto;
}

#footerleft {
	width: 45%;
	background-color: rgba(150,150,160,0.5);
	margin: 1%;
	padding: 1%;
	float: left;
}

#footerright {
	width: 45%;
	margin: 5% 3%;
	float: right;
}

#footerright img {
	width: 95%;
}

@media screen and (max-width: 768px) {
/*
	body {
		background-color: black;
	}
 */

	nav {
		width: 65%;
		margin-top: 25px;
	}

	ul#cols li {
		width: 100%;
		margin: 10px 0px;
		padding: 1%;
	}

	ul#cols li img {
		width: 20%;
		margin-right: 2%;
		float: left;
	}

	#footerleft, #footerright {
		float: none;
		width: 98%;
		marigin: auto;
	}
}

@media screen and (max-width: 600px) {
	nav {
		clear: left;
		width: 100%;
	}

	#logo {
		float: none;
		margin: auto;
		width: 40%;
	}
}